.left-toolbar {
    position: fixed;
    top: 120px; /* Adjusted to place it below the header */
    left: 0;
    width: 200px;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.left-toolbar.hidden {
    transform: translateX(-100%);
}

.left-toolbar.visible {
    transform: translateX(0);
}

.left-toolbar a {
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    font-size: 16px;
    transition: color 0.3s;
}

.left-toolbar a:hover {
    color: #007bff;
}

.content {
    margin-left: 220px; /* Adjust based on toolbar width */
    padding: 20px;
}

.toolbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toolbar-list li {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
    cursor: pointer;
}

.toolbar-list li.clickable:hover {
    color: #000000;
}

.toggle-button {
    position: fixed;
    top: 105px;
    left: 10px;
    width: 30px;
    height: 30px;
    z-index: 1100;
    background-color: #999da0;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button:hover {
    background-color: #5c5d5e;
}

@media (max-width: 768px) {
    .left-toolbar {
        width: 100px;
    }

    .content {
        margin-left: 120px;
    }
}
