.profile-list {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 620px;
    height: 550px;
}

.profile-list h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.profile-list th, .profile-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.profile-list th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.profile-list .error {
    color: red;
    margin-top: 10px;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pagination button {
    padding: 8px 12px; /* Reduced padding to make the button smaller */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}